.about {
    width: 100%;
    justify-content: center;
}

@media (min-width: 700px) {
    .about {
        height: 100vh;
    }
}

.about > div {
    align-items: flex-start;
}

.about h2 {
    margin: 50px 0;
}

.about > div > p {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--lower-case);
    text-align: justify;
}