.about {
    width: 100%;
}

.about div {
    align-items: center;
    justify-content: center;
}

.about h2 {
    margin: 50px 0;
}

.about p {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--lower-case);
    text-align: justify;
}