footer {
    margin-bottom: 30px;
}

footer ul {
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer li {
    text-align: center;
    border: 1px solid transparent;
    flex: 1 0;
    margin: 5px;
    padding: 50px 0;
    transition: ease-in-out .5s;
}

footer a {
    padding: 50px 0;
    width: 100%;
}

footer li:hover {
    border: 1px solid var(--white);
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
    animation: animate-card 5s linear;
    transform: translate(0, -5px);
}

@keyframes animate-card {
    0% {
        background-position: 0;
        transition: ease-in-out 2s;
    }

    100% {
        background-position: 100%;
        transition: ease-in-out 2s;
    }
}