@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@font-face {
    font-family: "Righteous Off";
    src: url("./../fonts/Righteous-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    user-select: none;
}

:root {
    --black: #000000;
    --theme: #1d1d20;
    --white: #d1d1d1;

    --font-style: "Righteous", "Righteous Off";
    --title: 5rem;
    --text: 1.5rem;
    --lower-case: 1rem;

    --gradient: linear-gradient(
        to right,
        var(--white) 25%,
        #0091ff,
        #008bff,
        #2684ff,
        #697bff,
        #8e73fd,
        #aa69f1,
        #c15ee3,
        #d454d4,
        #e349c3,
        #ee3fb2,
        #f736a0,
        #fd318e,
        #ff317b,
        #ff3569,
        var(--white),
        var(--white),
        var(--white),
        var(--white),
        var(--white),
        var(--white),
        var(--white),
        var(--white),
        var(--white)
    );
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.left {
    align-items: flex-start;
    justify-content: center;
}

.p {
    font-size: var(--text) !important;
    letter-spacing: 1px;
    line-height: 35px;
}

body {
    font-family: var(--font-style);
    color: var(--white);
    background-color: var(--theme);
}

main {
    width: 80%;
}

header {
    position: absolute;
    top: 0;
    width: 80%;
}

nav {
    width: 100%;
}

nav > ul {
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 30px;
}

nav {
    align-self: flex-end;
}

nav > ul {
    list-style: none;
}

nav > ul > li:nth-child(1) {
    font-size: var(--text);
}

nav > ul > li {
    padding: 50px 0;
    transition: ease-in-out 0.3s;
}

nav > ul > li:hover {
    transform: translate(0, -5px);
}

.dontTouch {
    animation: dontTouch 1s linear;
}

.home {
    box-sizing: border-box;
    padding-bottom: 40px;
    height: 100vh;
    width: 100%;
}

.home > div > h1 {
    font-weight: 900;
    font-size: var(--title);

    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
    animation: animate-text 5s linear infinite;
}

.home > div > p {
    font-size: var(--text);
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
    animation: animate-text 5s linear;
}

.home > img {
    position: absolute;
    bottom: 40px;
    width: 40px;
    cursor: pointer;
    align-self: center;
    z-index: 1;

    animation: animate 2s infinite;
}

.none {
    display: none;
}

.menu {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-itens {
    background-color: rgba(0, 0, 0);
    padding: 20px;
    max-width: 100%;
    flex-wrap: wrap;
    border-radius: 10px;
}

.menu-itens > div {
    cursor: pointer;
    margin: 15px 10px;
    width: 60px;
}

.menu-itens > div > span {
    font-size: var(--lower-case);
}

.menu-itens > div > img {
    height: 30px;
    margin: 10px 0;
}

@media (max-width: 700px) {
    .home {
        height: 100vh;
    }

    .menu {
        width: 100%;
        height: 100%;
        background-color: var(--black);
    }

    .menu-itens {
        position: relative;
        top: -30px;
        flex-direction: column;
        height: 70vh;
    }

    nav > ul > li:nth-child(1):hover {
        transform: translate(0);
    }

    .p {
        font-size: var(--lower-case) !important;
        line-height: 25px;
        text-align: justify;
    }
}

@keyframes animate {
    0% {
        bottom: 40px;
    }

    50% {
        bottom: 60px;
    }

    100% {
        bottom: 40px;
    }
}

@keyframes animate-text {
    0% {
        background-position: 0;
        transition: ease-in-out 1s;
    }

    100% {
        background-position: 100%;
        transition: ease-in-out 1s;
    }
}

@keyframes dontTouch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-5px, 0);
    }

    40% {
        transform: translate(5px, 0);
    }

    60% {
        transform: translate(-5px, 0);
    }

    80% {
        transform: translate(5px, 0);
    }

    100% {
        transform: translate(0);
    }
}
