@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@font-face {
    font-family: "Righteous Off";
    src: url("./../fonts/Righteous-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    user-select: none;
}

:root {
    --black: #000000;
    --theme: #1d1d20;
    --white: #d1d1d1;

    --font-style: "Righteous", "Righteous Off";
    --title: 5rem;
    --text: 1.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.left {
    align-items: flex-start;
    justify-content: center;
}

body {
    font-family: var(--font-style);
    color: var(--white);
    background-color: var(--theme);
}

main {
    width: 80%;
}

header {
    position: absolute;
    top: 0;
    width: 80%;
}

.icon {
    width: 30px;
}

nav {
    align-self: flex-end;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    padding: 50px 0;
}

.home {
    box-sizing: border-box;
    padding-bottom: 40px;
    height: 100vh;
    width: 100%;
}

.home > div > span {
    font-weight: 900;
    font-size: var(--title);
}

.home > div > p {
    font-size: var(--text);
}

.home > img {
    position: absolute;
    bottom: 50px;
    width: 40px;
    cursor: pointer;
    align-self: center;

    animation: animate 2s infinite;
}

.none {
    display: none;
}

.menu {
    position: absolute;
    width: 80%;
    bottom: 160px;
}

.menu-itens {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 160px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.menu-itens::after {
    content: "";
    position: absolute;
    bottom: -30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid rgba(0, 0, 0, 0.7);
}

.menu-itens > div {
    cursor: pointer;
    margin: 15px 10px;
    width: 60px;
}

.menu-itens > div > span {
    font-size: 1rem;
}

.menu-itens > div > img {
    height: 30px;
}

@media (max-width: 700px) {
    .home {
        height: 90vh;
    }
}

@keyframes animate {
    0% {
        bottom: 50px;
    }

    50% {
        bottom: 70px;
    }

    100% {
        bottom: 50px;
    }
}