@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@font-face {
    font-family: "Righteous Off";
    src: url("./../fonts/Righteous-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    user-select: none;
}

:root {
    --black: #000000;
    --theme: #1d1d20;
    --white: #d1d1d1;

    --font-style: "Righteous", "Righteous Off";
    --title: 5rem;
    --text: 1.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.left {
    align-items: flex-start;
    justify-content: center;
}

body {
    font-family: var(--font-style);
    color: var(--white);
    background-color: var(--theme);
}

main {
    width: 80%;
}

header {
    position: absolute;
    top: 0;
    width: 80%;
}

.icon {
    width: 30px;
}

nav {
    align-self: flex-end;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    padding: 50px 30px;
}

.home {
    box-sizing: border-box;
    padding-bottom: 40px;
    height: 100vh;
    width: 100%;
}

.home > div > span {
    font-weight: 900;
    font-size: var(--title);
}

.home > div > p {
    font-size: var(--text);
}

.home > img {
    position: absolute;
    bottom: 50px;
    width: 40px;
    cursor: pointer;
    align-self: center;
}

@media (max-width: 700px) {
    .home {
        height: 90vh;
    }
}