.works {
    width: 100%;
    justify-content: center;
}


@media (min-width: 700px) {
    .works {
        height: 100vh;
    }
}


.works div {
    align-items: flex-start;
}

.works h2 {
    margin: 50px 0;
}

.works p {
    font-size: var(--lower-case);
}
